@import "/header_footer/Header/header.css";
@import url("/header_footer/footer/footer.css");
*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 12px;
	--color-text: rgba(255, 255, 255, 0.95);
	--color-bg: #0c0b10;
	--color-link: rgb(124 20 244 / 90%);
	--color-bg-date: rgb(96 56 178 / 48%);
	--color-link-hover: rgb(94 54 176 / 75%);
	--color-border: rgba(177, 177, 177, 0.3);
}
html,body{
	overflow-x: hidden;
}

body {
	margin: 0;
	color: var(--color-text);
	background-color: var(--color-bg);
	/* font-family: "ocr-a-std", monospace; */
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: url(../img/Mainpage-bg.png);
	background-size: cover;
	background-attachment: fixed;
	overflow-x: hidden;
}

/* Page Loader */
.js .loading::before,
.js .loading::after {
	content: '';
	position: fixed;
	z-index: 1000;
}

.js .loading::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;

}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5, 0.5, 1);
	}
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
	cursor: pointer;
}

a:hover {
	color: var(--color-link-hover);
	outline: none;
}

/* Better focus styles from https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus {
	/* Provide a fallback style for browsers
	 that don't support :focus-visible */
	outline: none;
	background: lightgrey;
}

a:focus:not(:focus-visible) {
	/* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible */
	background: transparent;
}

a:focus-visible {
	/* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
	outline: 2px solid red;
	background: transparent;
}

.unbutton {
	background: none;
	border: 0;
	padding: 0;
	margin: 0;
	font: inherit;
	cursor: pointer;
}

.unbutton:focus {
	outline: none;
}

.frame {
	/* z-index: 1; */
	position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: 100%;
	grid-template-areas: 'title' 'back' 'prev' 'sponsor';
	grid-gap: 1rem;
	justify-items: start;
	align-self: start;
	justify-self: start;
	pointer-events: none;
	align-items: center;
	padding: 2rem;
}

body #cdawrap {
	justify-self: start;
}

.frame a {
	pointer-events: auto;
}

.frame__title {
	grid-area: title;
	font-size: 1.25rem;
	margin: 0;
	font-weight: inherit;
}

.frame__back {
	grid-area: back;
}

.frame__prev {
	grid-area: prev;
}

.frame__demos {
	grid-area: demos;
	display: flex;
	gap: 1rem;
}

.title {
	font-weight: 400;
	font-size: clamp(2rem, 8.5vw, 8rem);
	text-align: center;
	margin: 10vh auto 5vh;
	display: flex;
	justify-content: center;
	width: min-content;
	border-bottom: 1px solid var(--color-border);
	display: none;
}

.title span::first-letter {
	opacity: 0.5;
}

.waviy {
	position: relative;
	text-align: center;
	margin: 10vh auto 5vh;
	justify-content: center;
	font-weight: 400;
}

.waviy span {

	position: relative;
	display: inline-block;
	font-size: 100px;
	color: #fff;
	text-transform: uppercase;
	animation: flip 2s infinite;
	animation-delay: calc(.5s * var(--i))
}

@keyframes flip {

	0%,
	80% {
		transform: rotateY(360deg)
	}
}

.subtitle {
	text-align: center;
}

.events {
	width: min-content;
	margin: 14vh auto 5vh;
}

.card-grid {
	display: flex;
	margin-right: 10vh;
	grid-template-columns: 1fr;
	min-width: 30vh;
	/*border-top: 1px solid var(--color-border);*/
}

.card:nth-child(3n - 1) {
	border-left: 1px solid var(--color-border);
	border-right: 1px solid var(--color-border);
}

.card {
	min-width: 25vw;
	grid-template-rows: auto 1fr auto;
	cursor: pointer;
	position: relative;
	min-height: 45vh;
	padding: 4vw;
	overflow: hidden;
	border: 1px solid var(--color-border);
	/*margin: 5vh auto;*/
	margin-bottom: 5vh;
	margin-left: 5vw;
}

#card-1 {
	animation-name: example;
	animation-duration: 15s;
	animation-iteration-count: infinite;

	-webkit-animation: example 15s infinite;
	/* Safari 4+ */
	-moz-animation: example 15s infinite;
	/* Fx 5+ */
	-o-animation: example 15s infinite;
	/* Opera 12+ */
	animation: example 15s infinite;
}

@keyframes example {

	0%,
	100% {
		background-image: url("../images.jpg");
		background-size: cover;
	}

	25% {
		background-image: url("../img-5.jpg");
		background-size: cover;
	}

	50% {
		background-image: url("../img-4.jpg");
		background-size: cover;
	}

	75% {
		background-image: url("../img-3.jpg");
		background-size: cover;
	}

	100% {
		background-image: url("../img-5.jpg");
		background-size: cover;
	}
}

#card-2 {
	animation-name: example-2;
	animation-duration: 15s;
	animation-iteration-count: infinite;

	-webkit-animation: example-2 15s infinite;
	/* Safari 4+ */
	-moz-animation: example-2 15s infinite;
	/* Fx 5+ */
	-o-animation: example-2 15s infinite;
	/* Opera 12+ */
	animation: example-2 15s infinite;
}

@keyframes example-2 {

	0%,
	100% {
		background-image: url("../img-4.jpg");
		background-size: cover;
	}

	25% {
		background-image: url("../img-3.jpg");
		background-size: cover;
	}

	50% {
		background-image: url("../img-5.jpg");
		background-size: cover;
	}

	75% {
		background-image: url("../img-2.webp");
		background-size: cover;
	}

	100% {
		background-image: url("../img1.jpg");
		background-size: cover;
	}
}

#card-3 {
	animation-name: example-3;
	animation-duration: 15s;
	animation-iteration-count: infinite;

	-webkit-animation: example-3 15s infinite;
	/* Safari 4+ */
	-moz-animation: example-3 15s infinite;
	/* Fx 5+ */
	-o-animation: example-3 15s infinite;
	/* Opera 12+ */
	animation: example-3 15s infinite;
}

@keyframes example-3 {

	0%,
	100% {
		background-image: url("../img-5.jpg");
		background-size: cover;
	}

	25% {
		background-image: url("../img1.jpg");
		background-size: cover;
	}

	50% {
		background-image: url("../img-2.webp");
		background-size: cover;
	}

	75% {
		background-image: url("../img-4.jpg");
		background-size: cover;
	}

	100% {
		background-image: url("../img-3.jpg");
		background-size: cover;
	}
}

#card-4 {
	animation-name: example-4;
	animation-duration: 15s;
	animation-iteration-count: infinite;

	-webkit-animation: example-4 15s infinite;
	/* Safari 4+ */
	-moz-animation: example-4 15s infinite;
	/* Fx 5+ */
	-o-animation: example-4 15s infinite;
	/* Opera 12+ */
	animation: example-4 15s infinite;
}

@keyframes example-4 {

	0%,
	100% {
		background-image: url("../images.jpg");
		background-size: cover;
	}

	25% {
		background-image: url("../img-5.jpg");
		background-size: cover;
	}

	50% {
		background-image: url("../img-4.jpg");
		background-size: cover;
	}

	75% {
		background-image: url("../img-3.jpg");
		background-size: cover;
	}

	100% {
		background-image: url("../img-5.jpg");
		background-size: cover;
	}
}

#card-5 {
	animation-name: example-5;
	animation-duration: 15s;
	animation-iteration-count: infinite;

	-webkit-animation: example-5 15s infinite;
	/* Safari 4+ */
	-moz-animation: example-5 15s infinite;
	/* Fx 5+ */
	-o-animation: example-5 15s infinite;
	/* Opera 12+ */
	animation: example-5 15s infinite;
}

@keyframes example-5 {

	0%,
	100% {
		background-image: url("../img-5.jpg");
		background-size: cover;
	}

	25% {
		background-image: url("../img-5.jpg");
		background-size: cover;
	}

	50% {
		background-image: url("../img-5.jpg");
		background-size: cover;
	}

	75% {
		background-image: url("../img-5.jpg");
		background-size: cover;
	}

	100% {
		background-image: url("../img-5.jpg");
		background-size: cover;
	}
}

#card-6 {
	animation-name: example-6;
	animation-duration: 15s;
	animation-iteration-count: infinite;

	-webkit-animation: example-6 15s infinite;
	/* Safari 4+ */
	-moz-animation: example-6 15s infinite;
	/* Fx 5+ */
	-o-animation: example-6 15s infinite;
	/* Opera 12+ */
	animation: example-6 15s infinite;
}

@keyframes example-6 {

	0%,
	100% {
		background-image: url("../images.jpg");
		background-size: cover;
	}

	15% {
		background-image: url("../img-5.jpg");
		background-size: cover;
	}

	40% {
		background-image: url("../img-4.jpg");
		background-size: cover;
	}

	55% {
		background-image: url("../img-3.jpg");
		background-size: cover;
	}

	70% {
		background-image: url("../img-8.jpg");
		background-size: cover;
	}

	85% {
		background-image: url("../img-9.jpg");
		background-size: cover;
	}

	100% {
		background-image: url("../img-7.jpg");
		background-size: cover;
	}
}

.card__img,
.card__img-wrap,
.card__img-inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.card__img,
.card__img-inner {
	background-size: cover;
	background-position: 50% 50%;
}

.card__img,
.card__img-wrap {
	overflow: hidden;
}

.card__img {
	z-index: -1;
	pointer-events: none;
	--columns: 0;
	--rows: 0;
}

.js .card__img {
	opacity: 0;
	background-image: none !important;
}

.card__img-inner {
	filter: brightness(0.6);
	width: calc(100% + (var(--columns) - 1) * 1px);
	height: calc(100% + (var(--rows) - 1) * 1px);
}

.card__title {
	/*font-weight: 400;
	font-size: clamp(1.5rem,5vw,2.5rem);*/
	font-weight: 600;
	font-size: clamp(2rem, 7vw, 3rem);
}

.card__link {
	position: relative;
	font-weight: 400;
	font-size: clamp(1.5rem, 5vw, 2rem);
}

.card__link::before {
	content: '+';
	margin-right: 10px;
}
@media screen and (max-width: 1248px) {
	.card {
		min-height: 40vh;
		min-width: 25vw;
		margin-left: 5vw;
		
	}

	.wavity span {
		font-size: 40px;
	}
}



@media screen and (max-width: 1000px) {
	.card-grid {
		
		grid-template-columns: 2fr;
		grid-template-rows: 1fr;
		flex-wrap: wrap;

	}

	.card {
		min-width: 90vw;
		min-height: 40vh;
		margin-left: 6vw;
	}

	body #cdawrap {
		justify-self: end;
	}



	.waviy {
		position: relative;
		text-align: center;
		margin: 10vh auto 5vh;
		justify-content: center;
		font-weight: 100;
		display: none;
	}

	.title {
		font-weight: 400;
		font-size: clamp(2rem, 8.5vw, 8rem);
		text-align: center;
		margin: 10vh auto 5vh;

		display: flex;
		justify-content: center;
		width: min-content;
		border-bottom: 1px solid var(--color-border);
	}

	.title span::first-letter {
		opacity: 0.5;
	}
}

@media screen and (max-width: 350px) {
	.grid {
		grid-template-columns: repeat(2, 1fr);
	}

	.wavity span {
		font-size: 40px;
	}

	.waviy {
		position: relative;
		text-align: center;
		margin: 10vh auto 5vh;
		justify-content: center;
		font-weight: 100;
		display: none;
	}

	.card {
		min-height: 40vh;
		min-width: 90vw;
		margin-left: 5vw;
	}

	.title {
		font-weight: 400;
		font-size: clamp(2rem, 8.5vw, 8rem);
		text-align: center;
		margin: 10vh auto 5vh;
		display: flex;
		justify-content: center;
		width: min-content;
		border-bottom: 1px solid var(--color-border);
		margin-right: 30%;
	}

	.title span::first-letter {
		opacity: 0.5;
	}
}