@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 20px;
  font-family: "DM Sans", sans-serif;
  background-image: url(./mae1.png);
  background-size: cover;
}

input[type="radio"] {
  display: none;
}

.card {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 715px;
  max-height: 530px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

#item-1:checked ~ .cards #song-5,
#item-2:checked ~ .cards #song-3,
#item-4:checked ~ .cards #song-1,
#item-5:checked ~ .cards #song-2,
#item-3:checked ~ .cards #song-4 {
  transform: translatex(-80%) scale(0.6);
  opacity: 0.2;
  z-index: -100;
}

#item-1:checked ~ .cards #song-3,
#item-2:checked ~ .cards #song-1,
#item-4:checked ~ .cards #song-2,
#item-5:checked ~ .cards #song-4,
#item-3:checked ~ .cards #song-5 {
  transform: translatex(-40%) scale(0.8);
  opacity: 0.6;
  z-index: 100;

  img {
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
  }
}

#item-1:checked ~ .cards #song-2,
#item-2:checked ~ .cards #song-4,
#item-4:checked ~ .cards #song-5,
#item-5:checked ~ .cards #song-3,
#item-3:checked ~ .cards #song-1 {
  transform: translatex(40%) scale(0.8);
  opacity: 0.6;
  z-index: 100;

  img {
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
  }
}

#item-1:checked ~ .cards #song-4,
#item-2:checked ~ .cards #song-5,
#item-4:checked ~ .cards #song-3,
#item-5:checked ~ .cards #song-1,
#item-3:checked ~ .cards #song-2 {
  transform: translatex(80%) scale(0.6);
  opacity: 0.2;
  z-index: -100;
}

#item-1:checked ~ .cards #song-1,
#item-2:checked ~ .cards #song-2,
#item-3:checked ~ .cards #song-3,
#item-4:checked ~ .cards #song-4,
#item-5:checked ~ .cards #song-5 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1000;

  img {
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
  }
}

/*#item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-4, #item-3:checked ~ .cards  #song-5, #item-4:checked ~ .cards #song-1, #item-5:checked ~ .cards #song-2 {
  transform: translatex(-40%) scale(.8);
  opacity: .6;
  z-index: -100;

  img {
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
  }
}

#item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-4, #item-4:checked ~ .cards #song-5, #item-5:checked ~ .cards  #song-1  {
  transform: translatex(40%) scale(.8);
  opacity: .6;
  z-index: -100;

  img {
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
  }
}

#item-1:checked ~ .cards #song-4, #item-2:checked ~ .cards  #song-5, #item-3:checked ~ .cards #song-1, #item-4:checked ~ .cards #song-2, #item-5:checked ~ .cards #song-3 {
    transform: translatex(-80%) scale(.6);
    opacity: .2;
    z-index: 100;
  }

#item-1:checked ~ .cards #song-5, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2, #item-4:checked ~ .cards #song-3, #item-5:checked ~ .cards  #song-4 {
    transform: translatex(80%) scale(.6);
    opacity: .2;
    z-index: 100;
  }  

#item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3, #item-4:checked ~ .cards  #song-4, #item-5:checked ~ .cards  #song-5 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1000;
  
  img {
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
  }
}*/

.player {
  background-color: #ffd9b5;
  background-image: linear-gradient(
    to bottom,
    #ffd9b5,
    #fdd4ad,
    #fcd1a8,
    #ffc690,
    #fac593
  );
  border-radius: 8px;
  min-width: 240px;
  max-width: 300px;
  padding: 10px 10px;
  transition: height 0.4s ease-in;
  max-height: 700px;
}

.player.hidden {
  display: none;
}

.upper-part {
  position: relative;
  display: flex;
  align-items: left;
  margin-bottom: 7px;
  height: 40px;
  overflow: hidden;
}

.player.expanded {
  height: 700px;
}

.song-info {
  width: calc(100% - 32px);
  display: block;
}

.song-info .title {
  color: #403d40;
  font-size: 16px;
  line-height: 24px;
}

.sub-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.subtitle,
.time {
  font-size: 12px;
  line-height: 16px;
  color: #c6c5c6;
}

.progress-bar {
  height: 3px;
  width: 100%;
  background-color: #b98920;
  border-radius: 2px;
  overflow: hidden;
}

.progress {
  display: block;
  position: relative;
  width: 50%;
  height: 100%;
  background-color: #4b3d03;
  border-radius: 6px;
}

.info-area {
  width: 100%;
  position: absolute;
  top: 0;
  left: 10px;
  transition: transform 0.4s ease-in;
}

#item-2:checked ~ .player #test {
  transform: translateY(0);
}

#item-2:checked ~ .player #test {
  transform: translateY(-40px);
}

#item-3:checked ~ .player #test {
  transform: translateY(-80px);
}

#item-4:checked ~ .player #test {
  transform: translateY(-120px);
}

#item-5:checked ~ .player #test {
  transform: translateY(-160px);
}

.read-more {
  position: absolute;
  top: 34%;
  right: 10px;
  transform: translateY(-50%);
  background-color: #ffe1a1;
  color: rgb(34, 22, 0);
  font-weight: 600;
  font-family: "DM Sans", sans-serif;
  padding: 2px 10px;
  border-radius: 5px;
  border-color: #ffe1a1;
  cursor: pointer;
  font-size: 12px;
}

.event-name {
  color: #443202 !important;
  font-weight: 600 !important;
}

.subtitle {
  color: #231701c0;
}

#wrapper {
  overflow: hidden;
  transition: height 200ms;
}

p.description-of-event {
  overflow: hidden;
  font-family: "DM Sans", sans-serif;
  color: #5e5b5e;
  font-size: smaller;
  height: 120px;
}

.registration {
  text-align: center;
  margin-top: 20px;
}

.registration button {
  background-color: #311d00;
  color: #ffe1a1;
  font-weight: 600;
  font-family: "DM Sans", sans-serif;
  padding: 7px 30px;
  border-radius: 13px;
  border-color: #ffe1a1;
  cursor: pointer;
  font-size: 15.5px;
}

.registration button:hover {
  background-color: #ffe1a1;
  color: #311d00;
  border-color: #251701;
}
