* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-body {
  display: flex;
  flex-direction: column;
  min-height: 15vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: #000000;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  /* bottom: 0; */
  width: 100vw;
}
.social-icons {
  /* Added this selector for the surrounding div */
  display: flex;
}

.social-icons ul {
  /* Modified selector to target ul inside the .social-icons div */
  display: flex;
}

a:link {
  color: #666; /* Red color for unvisited links */
}

/* Changing the link color for visited links */
a:visited {
  color: #666; /* Purple color for visited links */
}

.social-icons ul li {
  position: relative;
  display: block;
  color: #ad1111;
  font-size: 30px;
  height: 60px;
  width: 60px;
  background: #171515;
  line-height: 60px;
  border-radius: 50%;
  margin: 0 15px;
  cursor: pointer;
  transition: 0.5s;
}

.social-icons ul li:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
  border-radius: 50%;
  transform: scale(0.9);
  z-index: -1;
  transition: 0.5s;
}

.social-icons ul li:nth-child(1):before {
  background: #4267b2;
}

.social-icons ul li:nth-child(2):before {
  background: #1da1f2;
}

.social-icons ul li:nth-child(3):before {
  background: #e1306c;
}

.social-icons ul li:nth-child(4):before {
  background: #2867b2;
}

.social-icons ul li:nth-child(5):before {
  background: #ff0000;
}

.social-icons ul li:hover:before {
  filter: blur(3px);
  transform: scale(1.2);
}

.social-icons ul li:nth-child(1):hover:before {
  box-shadow: 0 0 15px #4267b2;
}

.social-icons ul li:nth-child(2):hover:before {
  box-shadow: 0 0 15px #1da1f2;
}

.social-icons ul li:nth-child(3):hover:before {
  box-shadow: 0 0 15px #e1306c;
}

.social-icons ul li:nth-child(4):hover:before {
  box-shadow: 0 0 15px #2867b2;
}

.social-icons ul li:nth-child(5):hover:before {
  box-shadow: 0 0 15px #ff0000;
}

.social-icons ul li:nth-child(1):hover {
  color: #456cba;
  box-shadow: 0 0 15px #4267b2;
  text-shadow: 0 0 15px #4267b2;
}

.social-icons ul li:nth-child(2):hover {
  color: #26a4f2;
  box-shadow: 0 0 15px #1da1f2;
  text-shadow: 0 0 15px #1da1f2;
}

.social-icons ul li:nth-child(3):hover {
  color: #e23670;
  box-shadow: 0 0 15px #e1306c;
  text-shadow: 0 0 15px #e1306c;
}

.social-icons ul li:nth-child(4):hover {
  color: #2a6cbb;
  box-shadow: 0 0 15px #2867b2;
  text-shadow: 0 0 15px #2867b2;
}

.social-icons ul li:nth-child(5):hover {
  color: #ff1a1a;
  box-shadow: 0 0 15px #ff0000;
  text-shadow: 0 0 15px #ff0000;
}
.copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .social-icons ul li {
    font-size: 24px; /* Decreased font size for smaller screens */
    height: 48px; /* Decreased icon size for smaller screens */
    width: 48px; /* Decreased icon size for smaller screens */
    line-height: 48px; /* Decreased line height for smaller screens */
    margin: 0 10px; /* Decreased margin for smaller screens */
  }

  /* Adding styles for mobile click effect using :active pseudo-class */
  .social-icons ul li a:active {
    color: inherit; /* Reset the color to inherit from the parent */
  }

  /* Adding styles for individual icon click effects */
  .social-icons ul li:nth-child(1) a:active {
    color: #456cba;
    box-shadow: 0 0 15px #4267b2;
    text-shadow: 0 0 15px #4267b2;
  }

  .social-icons ul li:nth-child(2) a:active {
    color: #26a4f2;
    box-shadow: 0 0 15px #1da1f2;
    text-shadow: 0 0 15px #1da1f2;
  }

  .social-icons ul li:nth-child(3) a:active {
    color: #e23670;
    box-shadow: 0 0 15px #e1306c;
    text-shadow: 0 0 15px #e1306c;
  }

  .social-icons ul li:nth-child(4) a:active {
    color: #2a6cbb;
    box-shadow: 0 0 15px #2867b2;
    text-shadow: 0 0 15px #2867b2;
  }

  .social-icons ul li:nth-child(5) a:active {
    color: #ff1a1a;
    box-shadow: 0 0 15px #ff0000;
    text-shadow: 0 0 15px #ff0000;
  }

  .copyright {
    font-size: 12px;
  }
}
